<%= form_for @address do |f| %>
  <div>
    <%= f.label :label %>
    <%= f.text_field :label %>
  </div>

  <div>
    <%= f.label :loc %>
    <%= f.text_field :loc %>
  </div>

  <div>
    <%= f.label :memo %>
    <%= f.text_field :memo %>
  </div>

  <div>
  <%= f.submit %>
  </div>

<% end %>
