<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand">BTC Manager</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to "Home", users_path %>
        <li> <%= link_to "My Addresses", addresses_path %>
        <li> <%= link_to 'Log Out', logout_path, method: :delete %> </li>

      </ul>
    </div>
  </div>
</nav>


<div class="container">
    <h1>Edit My Info</h1>
<div class="jumbotron">

  <%= form_for @user do |f| %>
  <div class="form-group">

    <label>Name</label>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <label>Email</label>
    <%= f.text_field :email, :class=>"form-control" %>
  </div>

  <div>
    <%= f.submit 'Update Info', :class=>"btn btn-default"   %>
  </div>
<% end %>
</div>
</div>
