<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand">BTC Manager</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li> <%= link_to 'Log Out', logout_path, method: :delete %> </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">

<h1>Welcome!</h1>

<% if current_user %>
<p>  You are logged in as: <%= current_user.name %>  </p>
<% else %>
  <%= link_to 'Log In', login_path %>
  <%= link_to 'Sign Up', new_user_path %>
<% end %>

<%= link_to 'Add A New Address', new_address_path %> |
<%= link_to 'View My Addresses', addresses_path %> |
<%= link_to 'Delete My Account', user_path(current_user), method: :delete, data: {confirm: "are you sure?"} %>
</div>
