<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand">BTC Manager</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <li> <%= link_to "Bitcoin Addresses?", "https://en.bitcoin.it/wiki/Address" %></li>
        <li><%= link_to 'Log In', login_path %></li>
        <li><%= link_to 'Sign Up', new_user_path %></li>




      </ul>

    </div>
  </div>
</nav>



<div class="container">
  <div class="jumbotron text-center">
  <img src="btc.png" />
    <h1>BTC Manager</h1>
    <p>Store your Bitcoin addresses!  Keep track of your balances!</p>
  </div>
</div>



<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2016 - Site Built By Aaron Goldsmith
      </p>
    <ul class="nav navbar-nav navbar-right">

        <li><a href="https://www.linkedin.com/in/aaron-goldsmith-41a55976" class="btn btn-block btn-social btn-linkedin">
            <span class="fa fa-linkedin"></span>
              </a></li>
        <li><a href="https://github.com/AaronJGoldsmith" class="btn btn-block btn-social btn-github">
              <span class="fa fa-github"></span>
              </a></li>
        <li><a href="https://twitter.com/AaronGold81" class="btn btn-block btn-social btn-twitter">
              <span class="fa fa-twitter"></span>
              </a></li>
        <li><a href="https://www.instagram.com/coldcrushforce/" class="btn btn-block btn-social btn-instagram">
              <span class="fa fa-instagram"></span>
              </a></li>
      <ul>
    </div>










<!-- <div class="welcome">
<div class="container">


<div class="col-md-6">
<div class="jumbotron text-center">
<%= link_to 'Log In', login_path %>

</div>
</div>
<div class="col-md-6">
<div class="jumbotron text-center">



<%= link_to 'Sign Up', new_user_path %>


</div>
</div>
</div>
</div> -->
