<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand">BTC Manager</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
          <li> <%= link_to "Home", users_path %> </li>
          <li><%= link_to 'Add New Address', new_address_path %></li>
      <li> <%= link_to 'Log Out', logout_path, method: :delete %> </li>
 <%# if no user, should not display logout %>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <h1>My Bitcoin Addresses</h1>
  <div class="jumbotron">

<% @addresses.each do |address| %>
  <ul class="list-group">
  <li class="list-group-item">  <%= link_to address.label.capitalize, address_path(address) %> <span class="badge" >
      <%= link_to 'Edit', edit_address_path(address) %>
      <%= link_to 'Delete', address, method: :delete, data: {confirm: 'Are you sure?'} %> </span> </li>
</ul>
  <% end %>
</div>
</div>
