<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand">BTC Manager</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
          <li> <%= link_to "Home", users_path %> </li>
          <li><%= link_to 'Add New Address', new_address_path %></li>
      <li> <%= link_to 'Log Out', logout_path, method: :delete %> </li>

      </ul>
    </div>
  </div>
</nav>


<div class="container">

<div class="page-header">
  <h1>My Bitcoin Addresses</h1>
</div>
  <div class="jumbotron">

<% @addresses.each do |address| %>
  <ul class="list-group">
  <li class="list-group-item">  <%= link_to address.label.capitalize, address_path(address) %> <span class="badge" >




      <%= link_to 'Edit', edit_address_path(address) %>
      <%= link_to 'Delete', address, method: :delete, data: {confirm: 'Are you sure?'} %>
  <p class="copy-address" data-clipboard-text=<%= address.loc %>> Copy </p> </span></li>
</ul>
  <% end %>
</div>
</div>

<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($(".copy-address"))
    clip.on("aftercopy", function(event) {
    $('#myModal').modal('show');
    })
  });


</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">

      <div class="modal-body">
        Address Copied!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
