<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand">BTC Manager</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>

      </ul>
    </div>
  </div>
</nav>

<div class="container">
<h1><%= @address.label.capitalize %></h1>


<table class="table">
  <thead>
    <tr>
      <th>Address</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= @address.loc %>
    </td>
    <td>
      <%= @address.balance %>
    </td>
</tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Total Sent</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= @address.total_sent %>
    </td>
</tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Total Received</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= @address.total_rec %>
    </td>
</tr>
  </tbody>
</table>
<table class="table">
  <thead>
    <tr>
      <th>Total Fees Paid</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= @address.total_fees %>
    </td>
</tr>
  </tbody>
</table>
</div>
<div class="container">
  <div class="page-header">
    <h1>Info</h1>
  </div>
  <%= @address.memo %>
</div>
