<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand">BTC Manager</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to "Home", users_path %>
            <li> <%= link_to "My Addresses", addresses_path %>
            <li> <%= link_to 'Edit Address', edit_address_path %> </li>
            <li> <%= link_to 'Delete Address', address_path, method: :delete, data: {confirm: 'Are you sure?'} %>
            <li> <%= link_to 'Log Out', logout_path, method: :delete %> </li>


      </ul>
    </div>
  </div>
</nav>

<div class="container">
<h1><%= @address.label.capitalize %><img src='https://blockchain.info/qr?data=<%= @address.loc %>=200' style="width:100px; float: right;" ></h1>


<table class="table">
  <thead>
    <tr>
      <th>Address</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= @address.loc %>
    </td>
    <td>
  <%= number_with_delimiter(@BTC, :delimiter => ',') %>
    </td>
</tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Total Sent</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= number_with_delimiter(@total_sent, :delimiter => ',') %>
    </td>
</tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Total Received</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= number_with_delimiter(@total_received, :delimiter => ',') %>
    </td>
</tr>
  </tbody>
</table>
<!-- <table class="table">
  <thead>
    <tr>
      <th>Total Fees Paid</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= @address.total_fees %>
    </td>
</tr>
  </tbody>
</table> -->
</div>
<div class="container">
  <div class="page-header">
    <h1>Info</h1>
  </div>
  <%= @address.memo %>
</div>
